/*forms*/

form button {
  background-color: #684756;
  color: white;
  padding: 8px 15px;
  cursor: pointer;
}


/*for smartphones*/
@media (max-width: 768px) { 
  label, input, select, textarea {
    width: 100%; /* use whole width*/
  }
}