/*Index*/

.picture {
  height: 180px;
  width: auto;
}

#imgWelcome{
  height: 300px;
  width: auto
}

.logo {
  height: 100px;
  width: auto;
}

.upperHeader {
  display: flex;
}

.pictures {
  display: flex;
  justify-content: space-around;
}

legend {
  font-size: 0.8rem;
  color: #3D314A;
}

/*Navigation*/
a:hover {
  background-color: #DB8D83; /* Change background color on hover */
  text-decoration: underline ;
}

.navigation {
  display: flex;
  justify-content: space-around;
}

nav, footer {
  background-color: #FED7D0; 
  padding: 20px;
  border: 1px solid #DB8D83; 
}

a {
  text-decoration: underline; 
  color: black; 
}

/*Product*/

#imgItem, #imgAbout {
  height: 300px;
}


.sectionItemDescription, .about {
  display: flex;
  justify-content: space-between;
}

.itemDescription {
  margin-left: 20px;
}



/*about*/
.aboutText {
  margin-left: 20px; 
}





